%table{border: "2", height: "160", width: "1350"}
  %tr{align: "center"}
    %th 5:00
    %th 6:00
    %th 7:00
    %th 8:00
    %th 9:00
    %th 10:00
    %th 11:00
    %th 12:00
    %th 13:00
    %th 14:00
    %th 15:00
    %th 16:00
    %th 17:00
    %th 18:00
    %th 19:00
    %th 20:00
    %th 21:00
    %th 22:00
    %th 23:00
    %th 0:00
    %th 1:00
    %th 2:00
    %th 3:00
    %th 4:00
  %tr{align: "center"}
    %td{ class:"target"}
      -# = link_to "#", class:"chartBtnA1" do
      .chartBtnA1
        □
    %td
      -# = link_to "#", class:"chartBtnA2" do
      .chartBtnA2
        □
    %td
      -# = link_to "#", class:"chartBtnA3" do
      .chartBtnA3
        □
    %td
      -# = link_to "#", class:"chartBtnA4" do
      .chartBtnA4
        □
    %td
      -# = link_to "#", class:"chartBtnA5" do
      .chartBtnA5
        □
    %td
      -# = link_to "#", class:"chartBtnA6" do
      .chartBtnA6
        □
    %td
      -# = link_to "#", class:"chartBtnA7" do
      .chartBtnA7
        □
    %td
      -# = link_to "#", class:"chartBtnA8" do
      .chartBtnA8
        □
    %td
      -# = link_to "#", class:"chartBtnA9" do
      .chartBtnA9
        □
    %td
      -# = link_to "#", class:"chartBtnA10" do
      .chartBtnA10
        □
    %td
      -# = link_to "#", class:"chartBtnA11" do
      .chartBtnA11
        □
    %td
      -# = link_to "#", class:"chartBtnA12" do
      .chartBtnA12
        □
    %td
      -# = link_to "#", class:"chartBtnA13" do
      .chartBtnA13
        □
    %td
      -# = link_to "#", class:"chartBtnA14" do
      .chartBtnA14
        □
    %td
      -# = link_to "#", class:"chartBtnA15" do
      .chartBtnA15
        □
    %td
      -# = link_to "#", class:"chartBtnA16" do
      .chartBtnA16
        □
    %td
      -# = link_to "#", class:"chartBtnA17" do
      .chartBtnA17
        □
    %td
      -# = link_to "#", class:"chartBtnA18" do
      .chartBtnA18
        □
    %td
      -# = link_to "#", class:"chartBtnA19" do
      .chartBtnA19
        □
    %td
      -# = link_to "#", class:"chartBtnA20" do
      .chartBtnA20
        □
    %td
      -# = link_to "#", class:"chartBtnA21" do
      .chartBtnA21
        □
    %td
      -# = link_to "#", class:"chartBtnA22" do
      .chartBtnA22
        □
    %td
      -# = link_to "#", class:"chartBtnA23" do
      .chartBtnA23
        □
    %td
      -# = link_to "#", class:"chartBtnA24" do
      .chartBtnA24
        □
  %tr{align: "center"}
    %td{ class:"target"}
      -# = link_to "#", class:"chartBtnB1" do
      .chartBtnB1
        □
    %td
      -# = link_to "#", class:"chartBtnB2" do
      .chartBtnB2
        □
    %td
      -# = link_to "#", class:"chartBtnB3" do
      .chartBtnB3
        □
    %td
      -# = link_to "#", class:"chartBtnB4" do
      .chartBtnB4
        □
    %td
      -# = link_to "#", class:"chartBtnB5" do
      .chartBtnB5
        □
    %td
      -# = link_to "#", class:"chartBtnB6" do
      .chartBtnB6
        □
    %td
      -# = link_to "#", class:"chartBtnB7" do
      .chartBtnB7
        □
    %td
      -# = link_to "#", class:"chartBtnB8" do
      .chartBtnB8
        □
    %td
      -# = link_to "#", class:"chartBtnB9" do
      .chartBtnB9
        □
    %td
      -# = link_to "#", class:"chartBtnB10" do
      .chartBtnB10
        □
    %td
      -# = link_to "#", class:"chartBtnB11" do
      .chartBtnB11
        □
    %td
      -# = link_to "#", class:"chartBtnB12" do
      .chartBtnB12
        □
    %td
      -# = link_to "#", class:"chartBtnB13" do
      .chartBtnB13
        □
    %td
      -# = link_to "#", class:"chartBtnB14" do
      .chartBtnB14
        □
    %td
      -# = link_to "#", class:"chartBtnB15" do
      .chartBtnB15
        □
    %td
      -# = link_to "#", class:"chartBtnB16" do
      .chartBtnB16
        □
    %td
      -# = link_to "#", class:"chartBtnB17" do
      .chartBtnB17
        □
    %td
      -# = link_to "#", class:"chartBtnB18" do
      .chartBtnB18
        □
    %td
      -# = link_to "#", class:"chartBtnB19" do
      .chartBtnB19
        □
    %td
      -# = link_to "#", class:"chartBtnB20" do
      .chartBtnB20
        □
    %td
      -# = link_to "#", class:"chartBtnB21" do
      .chartBtnB21
        □
    %td
      -# = link_to "#", class:"chartBtnB22" do
      .chartBtnB22
        □
    %td
      -# = link_to "#", class:"chartBtnB23" do
      .chartBtnB23
        □
    %td
      -# = link_to "#", class:"chartBtnB24" do
      .chartBtnB24
        □
  %tr{align: "center"}
    %td
      -# = link_to "#", class:"chartBtnC1" do
      .chartBtnC1
        □
    %td
      -# = link_to "#", class:"chartBtnC2" do
      .chartBtnC2
        □
    %td
      -# = link_to "#", class:"chartBtnC3" do
      .chartBtnC3
        □
    %td
      -# = link_to "#", class:"chartBtnC4" do
      .chartBtnC4
        □
    %td
      -# = link_to "#", class:"chartBtnC5" do
      .chartBtnC5
        □
    %td
      -# = link_to "#", class:"chartBtnC6" do
      .chartBtnC6
        □
    %td
      -# = link_to "#", class:"chartBtnC7" do
      .chartBtnC7
        □
    %td
      -# = link_to "#", class:"chartBtnC8" do
      .chartBtnC8
        □
    %td
      -# = link_to "#", class:"chartBtnC9" do
      .chartBtnC9
        □
    %td
      -# = link_to "#", class:"chartBtnC10" do
      .chartBtnC10
        □
    %td
      -# = link_to "#", class:"chartBtnC11" do
      .chartBtnC11
        □
    %td
      -# = link_to "#", class:"chartBtnC12" do
      .chartBtnC12
        □
    %td
      -# = link_to "#", class:"chartBtnC13" do
      .chartBtnC13
        □
    %td
      -# = link_to "#", class:"chartBtnC14" do
      .chartBtnC14
        □
    %td
      -# = link_to "#", class:"chartBtnC15" do
      .chartBtnC15
        □
    %td
      -# = link_to "#", class:"chartBtnC16" do
      .chartBtnC16
        □
    %td
      -# = link_to "#", class:"chartBtnC17" do
      .chartBtnC17
        □
    %td
      -# = link_to "#", class:"chartBtnC18" do
      .chartBtnC18
        □
    %td
      -# = link_to "#", class:"chartBtnC19" do
      .chartBtnC19
        □
    %td
      -# = link_to "#", class:"chartBtnC20" do
      .chartBtnC20
        □
    %td
      -# = link_to "#", class:"chartBtnC21" do
      .chartBtnC21
        □
    %td
      -# = link_to "#", class:"chartBtnC22" do
      .chartBtnC22
        □
    %td
      -# = link_to "#", class:"chartBtnC23" do
      .chartBtnC23
        □
    %td
      -# = link_to "#", class:"chartBtnC24" do
      .chartBtnC24
        □
  %tr{align: "center"}
    %td
      -# = link_to "#", class:"chartBtnD1" do
      .chartBtnD1
        □
    %td
      -# = link_to "#", class:"chartBtnD2" do
      .chartBtnD2
        □
    %td
      -# = link_to "#", class:"chartBtnD3" do
      .chartBtnD3
        □
    %td
      -# = link_to "#", class:"chartBtnD4" do
      .chartBtnD4
        □
    %td
      -# = link_to "#", class:"chartBtnD5" do
      .chartBtnD5
        □
    %td
      -# = link_to "#", class:"chartBtnD6" do
      .chartBtnD6
        □
    %td
      -# = link_to "#", class:"chartBtnD7" do
      .chartBtnD7
        □
    %td
      -# = link_to "#", class:"chartBtnD8" do
      .chartBtnD8
        □
    %td
      -# = link_to "#", class:"chartBtnD9" do
      .chartBtnD9
        □
    %td
      -# = link_to "#", class:"chartBtnD10" do
      .chartBtnD10
        □
    %td
      -# = link_to "#", class:"chartBtnD11" do
      .chartBtnD11
        □
    %td
      -# = link_to "#", class:"chartBtnD12" do
      .chartBtnD12
        □
    %td
      -# = link_to "#", class:"chartBtnD13" do
      .chartBtnD13
        □
    %td
      -# = link_to "#", class:"chartBtnD14" do
      .chartBtnD14
        □
    %td
      -# = link_to "#", class:"chartBtnD15" do
      .chartBtnD15
        □
    %td
      -# = link_to "#", class:"chartBtnD16" do
      .chartBtnD16
        □
    %td
      -# = link_to "#", class:"chartBtnD17" do
      .chartBtnD17
        □
    %td
      -# = link_to "#", class:"chartBtnD18" do
      .chartBtnD18
        □
    %td
      -# = link_to "#", class:"chartBtnD19" do
      .chartBtnD19
        □
    %td
      -# = link_to "#", class:"chartBtnD20" do
      .chartBtnD20
        □
    %td
      -# = link_to "#", class:"chartBtnD21" do
      .chartBtnD21
        □
    %td
      -# = link_to "#", class:"chartBtnD22" do
      .chartBtnD22
        □
    %td
      -# = link_to "#", class:"chartBtnD23" do
      .chartBtnD23
        □
    %td
      -# = link_to "#", class:"chartBtnD24" do
      .chartBtnD24
        □