.Top
  .Top__upper
    = link_to edit_user_path(current_user), class: "Top__upper__loginBtn" do
      出入口
  .Top__middle
    .Top__middle__date
      %input#today{:type => "date"}/
    .Top__middle__title
      タイトル
  .Top__bottom
    = link_to "#", class: "Top__bottom__previousDayBtn" do
      前日
    = link_to "#", class: "Top__bottom__nextDayBtn" do
      翌日