.Bottom
  .Bottom__user
    name
    - @user.each do |i|
      .Bottom__user__nameBox
        -# = link_to user_path(i.id), class: "Bottom__user__nameBox__name" do
        -#   = i.name
        = link_to user_ownpage_path(i.id), class: "Bottom__user__nameBox__name" do
          = i.name
  .Bottom__schedule
    .Bottom__schedule__body
      = render "chart"
