.Top{
  &__upper{
    display: flex;
    justify-content: flex-end;
    &__loginBtn{
      background-color: whitesmoke;
      font-size: 20px;
      margin-right: 100px;
      border: 1px solid black;
      text-decoration: none;
    }
  }
  &__middle{
    display: flex;
    margin: 50px 0 50px 0;
    &__date{
      font-size: 20px;
      margin: 10px 0 0 30px;
    }
    &__title{
      margin: 0 auto 0 auto;
      font-weight: bold;
      font-size: 50px;
    }
  }
  &__bottom{
    display: flex;
    border-bottom: 1px solid black;
    justify-content: space-between;
    &__previousDayBtn{
      font-size: 30px;
      text-decoration: none;
      margin: 0 0 20px 40px;
    }
    &__nextDayBtn{
      font-size: 30px;
      text-decoration: none;
      margin: 0 60px 20px 0;
    }
  }
}
