.Bottom{
  display: flex;
  &__user{
    font-size: 20px;
    width: 90px;
    &__nameBox{
      flex-direction: column;
      border: 1px solid black;
      font-size: 20px;
      &__name{
        text-decoration: none;
      }
    }
  }
  &__schedule{
  }
}